* {
    background: #000;
    color: #fff;
    font-family: Verdana;
    user-select: none;
}

html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

canvas {
    margin: 10px;
    padding: 5px;
    border: 1px solid #fff;
}

p {
    margin: 0;
}
